@media (max-width: 768px)

{
    .spa-fitness-container {
    display: flex;
    flex-flow: column wrap;
    }

    .menu
    {
        display: none;
    }
    .mobile-menu
    {
        display: none;
    }
    .trigger
    {
        display: inline-block;
        height: 30px;
        margin: 3px;
        cursor: pointer;
    }
    .trigger i
    {
        display: block;
        height: 5px;
        margin: .1em 0 0 0;
        border-radius: 5px;
        background: #1bb1dc;
    }
    .show
    {
        display: flex;
        flex-direction: column;
    }
    .header-wrap
    {
        justify-content: space-between;
    }
    .header-logo{
        margin-left: 1em;
    }
    .card-container{
        flex-flow: column wrap;
    }
    .card__item{
        width: 100%;
    }
}


@media (max-width: 720px)
{
    .box-wrap
    {
        width: 50%;
    }
    .footer-wrapper
    {
        flex-direction: column;

        justify-content: center;
    }
}


@media (max-width: 575px)
{
    .box-wrap
    {
        width: 100%;
    }
}

@media (max-width: 480px)
{
    .gallery-photo:hover
    {
        transform: none;
    }

    .gallery-photo
    {
        width: 295px;
    }
    iframe
    {
        width: 100%;
    }
    .header-booking{
    	flex-direction: column;
    }
    .header-booking-button{
    	margin: 1em 0;
    }
    .gallery-content .gallery-photo {
	margin-right: 0;
    }
}