@font-face
{
    font-family: 'Roboto-Regular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face
{
    font-family: 'Roboto-Bold';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face
{
    font-family: 'Bookman-Regular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Bookman-Regular.ttf');
}

*
{
    font-family: Roboto-Regular;
    font-size: 18px;

    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

select{
    outline: none;
}

h2
{
    font-family: Roboto-Bold;
    font-size: 2rem;

    margin-bottom: .5em;

    text-align: center;
}



h3
{
    font-family: Roboto-Bold;
    font-size: 1.3rem;
}

p
{
    font-family: Bookman-Regular;

    margin-bottom: .5em;

    text-align: start;
}

img
{
    max-width: 100%;
    height: auto;
}

footer{
    background-color: #f5f8fd ;
}


/* HEADER */

.header-wrap
{
    z-index: 3;
    display: flex;
    transition: .7s;
    justify-content: space-between;
    align-items: center;
}

.header-sticky
{
    position: fixed;
    top: 0;
    width: 100%;
    padding: .3em 0 .3em 0;
    transition: .5s ease-out;
    opacity: 1;
    border-radius: 0 0 15px 15px;
    background-color: white;
    box-shadow: 0 0 30px rgb(104, 107, 114);
    z-index: 4;
}

.header-logo
{
    width: 100px;
    height: 50px;
    cursor: pointer;
    background: url(../assets/header-logo.svg) no-repeat;
    background-position-y: center;
    background-size: cover;
    margin-left: 1em;
}

.header-navigation-wrapper
{
    margin: 1em;
}

.navigation-menu
{
    display: flex;
}

.menu
{
    display: inline-flex;

    list-style-type: none;
}

.mobile-menu
{
    display: none;

    list-style: none;
}

.mobile-header-menu
{
    display: flex;
    flex-direction: row-reverse;
}

.menu-item a{
	text-decoration: none;
    font-size: 20px;
    margin: .2em;
    padding: 0 1em 0 .5em;
    cursor: pointer;
    transition: .3s;
    color: black;
}

.menu-item a:last-child{
	margin-bottom: 0;
}


.menu-item a:hover
{
    color: #1bb1dc;
}


.dropdown{
	font-size: 20px;
	overflow: hidden;
	border: 0;
	outline: 0;
	background: 0;
	cursor: pointer;
	transition: .3s;
}

.dropdown:hover{
	
	color: #1bb1dc;
}

.dropdown-content{
	display: none;
	position: absolute;
	margin: 1em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 16px 7px -7px rgba(0, 0, 0, .5);
    z-index: 3;
}

.dropdown-content a {
	display: block;
	text-decoration: none;
	color: black;
	padding: 1em;
	transition: .3s;
}

.dropdown-content a:hover{
    color: #1bb1dc;
}

.trigger i:nth-child(1)
{
    width: 30px;
}


.trigger i:nth-child(2)
{
    width: 25px;
}

.trigger i:nth-child(3)
{
    width: 33px;
}

.header-booking
{
    display: flex;

    padding: 2em 0 2em 0;

    text-align: center;

    background-color: #2d2b46;

    align-items: center;
    justify-content: center;
}

#booking-button
{
    font-family: Roboto-Regular;
    font-size: 18px;
    padding: 1em;
    cursor: pointer;
    transition: .5s;
    color: white;
    border: 3px solid #fff;
    border-radius: 5px;
    background-color: #2d2b46;
}

#booking-button:hover
{
    border: 3px solid #1bb1dc;
    background: #1bb1dc;
}

.modal-booking-window
{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;

    display: none;
    overflow: scroll;

    width: 100%;
    height: 100%;
    margin: auto;

    transition: all .5s;

    background-color: rgba(0,0,0,.4);;
}

.window-close
{
    position: absolute;
    top: 0;
    right: 0;

    width: 20px;
    height: 20px;
    margin: 1em;

    cursor: pointer;
}

.modal-booking-window-content
{
    position: relative;

    width: 100%;
    margin: auto;

    animation: animateFromLeft .5s;

    background-color: white;
}

@keyframes animateFromLeft
{
    from
    {
        top: -900px;
    }
    to
    {
        top: 0;
    }
}

/* BOOKING SECTION */

.filter-menu
{
    display: flex;

    width: 100%;
    padding: 1em 0;

    color: white;
    background-color: #a9b0c0;

    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.filter-group
{
    display: flex;
    flex-direction: column;

    margin: 1em;

    text-align: center;
}

.filter-group #dateToField,
#dateFromField
{
    display: flex;
    border-radius: 5px;
    margin-left: 1em;
}

#filter-button
{
    display: flex;
    padding: 13px 26px;
    cursor: pointer;
    color: #2e271a;
    border: 0;
    border-radius: 5px;
    outline: none;
    background: #fff;
}

#sortAdults,
#sortFloor
{
    width: 100px;
}

.card-container
{
    display: flex;

    max-width: 960px;
    margin: auto;
    padding: 2em;

    flex-flow: row wrap;
    justify-content: space-around;
}

.card-pagination
{
    top: 250px;

    width: 100%;

    text-align: center;
}
.card-pagination button
{
    margin: .3em;
    padding: .5em .5em;
    cursor: pointer;
    color: white;
    border: 0;
    border-radius: 5px;
    outline: none;
    background: #1bb1dc;
}
.card-pagination button:hover
{
    transition: .5s;
    background: #368195 ;
}

.card__item
{
    display: inline-block;

    width: 30%;
    margin: .3em;

    transition: .5s;
}

.card__item:hover
{
    box-shadow: 0 25px 40px -20px #85a2ce;
}

.card__item:hover img
{
    transition: all .7s;
    transform: scale(1.1);
}

.card__item-media
{
    position: relative;

    display: flex;
    overflow: hidden;

    height: 250px;

    background-image: url(../assets/rooms/card1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
            background-size: cover;

    justify-content: center;
}

.card__item-media img
{
    width: 100%;
    height: 100%;

    transition: .5s;
}

.card__item-summary-title{
    margin: .2em
}
.card__item-summary-price{
	margin: .4em;
    text-transform: uppercase;
}

.price
{
    color: #1bb1dc;
}
.card__item-summary-description
{
    margin: .4em;
}

.card__item-summary-booking
{
    display: flex;

    padding: .3em;

    background-color: #f5f8fd;

    justify-content: center;
}

.card__item-summary-booking-button
{
    padding: .3em;

    cursor: pointer;

    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #1bb1dc;
}

.booked{
    opacity: 0.5;
}

.card__item-summary-booking-button:hover
{
    transition: all .3s ease-out;

    background-color: #368195;
}

.booked-message
{
    font-weight: 900;

    position: fixed;
    z-index: 5;
    right: 0;
    bottom: 0;

    display: none;

    padding: 10px;

    transition: .2s ease-in-out;
    text-align: center;

    opacity: 0;
    color: white;
    border-radius: 15px 0 0 15px;
    background-color: #5ccc6f;
}


/* SLIDER */

#slide-menu
{
    position: relative;
    width: 100%;
    height: 650px;
}

.slide-menu-item{
   position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s;
    background: #333;

}

.slide-menu-item:nth-child(1),
.slide-menu-item:nth-child(2),
.slide-menu-item:nth-child(3){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slide-menu-item:nth-child(1){
    background-image: url(../assets/intro-bg.jpg);
}
.slide-menu-item:nth-child(2){
    background-image: url(../assets/intro-bg-1.jpg);
}
.slide-menu-item:nth-child(3){
    background-image: url(../assets/intro-bg-2.jpg);
}
.showing {
    opacity: 1;
    z-index: 2;
}


/* ABOUT US */

.about-us
{
    display: flex;
    flex-direction: column;

    width: 40%;
    margin: 0 auto;
    padding: 2em 0 2em 0;

    align-items: center;
    justify-content: center;
}

/* SERVICES */

.services
{
    background-color: #f5f8fd;
}

.services-info
{
    text-align: center;
}

.wrapper
{
    display: flex;
    flex-direction: column;

    max-width: 960px;
    margin: 0 auto;
    padding: 2em 0 2em 0;

    text-align: center;

    align-items: center;
    justify-content: center;
}

.services-row
{
    display: flex;

    width: 100%;

    flex-wrap: wrap;
    justify-content: center;
}

.services-box
{
    position: relative;

    display: inline-block;
    overflow: hidden;
    flex-direction: column;

    margin: 1em;
    padding: 45px;

    transition: all .3s ease-in-out;
    text-align: center;

    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, .1);
}

.services-box:hover
{
    transform: scale(1.1);
}

.services-box:hover .services-title
{
    transition: .5s;

    color: #1bb1dc;
}

.services-icon
{
    display: inline-flex;

    width: 70px;
    height: 70px;
    margin-bottom: .3em;

    border-radius: 50%;
    background-color: #e6fdfc;

    align-items: center;
    justify-content: center;
}

.services-logo
{
    display: inline-flex;

    width: 40px;
    height: 40px;
}

.services-title
{
    font-size: 18px;

    margin-bottom: .3em;
}

.services-description
{
    font-size: 14px;
}

/* REVIEW */

#no-wrapper-title
{
    padding-top: 1em;
}

.review
{
   padding: 2em 0 1em 0;
}

.box-wrap
{
    width: 33%;
}

.box-wrap h3
{
    color: white;
}

/* CAROUSEL */

.review-carousel
{
    position: relative;

    display: flex;
    overflow: hidden;

    height: 200px;

    align-items: flex-end;
    justify-content: center;
    flex-flow: row nowrap;
}

.carousel-navigation
{
    position: relative;

    width: 15px;
    height: 10px;
    margin: .5em;

    cursor: pointer;

    outline: none;
}

.carousel-navigation:before
{
    position: absolute;
    top: 0;
    left: 0;

    width: 15px;
    height: 15px;

    content: '';

    border-radius: 15px;
    background-color: #1bb1dc;
}

.carousel-navigation:checked:nth-of-type(1) ~ .carousel-wrap
{
    left: 0;
}
.carousel-navigation:checked:nth-of-type(2) ~ .carousel-wrap
{
    left: -100%;
}
.carousel-navigation:checked:nth-of-type(3) ~ .carousel-wrap
{
    left: -200%;
}

.carousel-navigation:hover::before
{
    transition: .3s;

    background-color: #368195;
}

.carousel-wrap
{
    position: absolute;
    top: 0;
    left: 0;

    display: flex;

    width: 300%;
    height: 75%;

    transition: left .4s;

    flex-flow: row nowrap;
}

.carousel__item
{
    display: flex;

    width: 100%;

    align-items: center;
    justify-content: center;
}

.carousel__item-image
{
    display: inline-flex;

    padding-right: 1em;
}

.carousel__item-logo
{
    width: 100px;
    height: auto;
}

.carousel__item-description
{
    max-width: 300px;
    padding-top: .5em;
}

/* SPAN AND FITNESS  */

.spa-fitness {
    background-color: #f5f8fd;
    padding: 2em 1em;
}

.spa-fitness-container{
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.spa-fitness-container img {
    z-index: 2;
    position: relative;
    height: auto;
    max-width: 75%;
    margin: auto;
    border: 5px #f5f8fd solid;
}

.spa-fitness-image{
	display: flex;
}

.spa-fitness-description{
	display: flex;
    align-items: center;
    padding: 4em;
}

/* GALLERY */


.gallery-content
{
    display: flex;

    padding: 1em;

    flex-flow: row wrap;
    justify-content: center;
}

.gallery-photo{
    overflow: hidden;
    width: 300px;
    height: 300px;
    margin: 0 .5em .5em 0;
    transition: .5s;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.gallery-photo:hover
{
    transition: 1s;
    transform: scale(1.1);
}

.gallery-photo:hover::after
{
    display: block;

    width: 300px;
    height: 300px;

    content: '';

    opacity: .3;
    background-color: #f5f8fd;
}

/* FOOTER */



.footer-wrapper
{
    display: flex;
    flex-direction: row;

    max-width: 960px;
    margin: 0 auto;
    padding: 2em 0 2em 0;

    text-align: center;

    align-items: baseline;
    justify-content: center;
}

.map
{
    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 1em;
}

.title
{
    font-family: Roboto-Bold;
}

.socials
{
    display: flex;
}

.socials a
{
    font-size: 18px;
    line-height: 1;

    display: inline-block;

    width: 36px;
    margin-right: 4px;
    padding: 8px 0;

    transition: .3s;
    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #1bb1dc;
}

.socials a:hover
{
    background: #368195;
}

.form
{
    padding: 1em;
}

.form input,
.form textarea,
.form select
{
    font-size: 14px;

    border: 1px solid #dce1ec;
    border-radius: 0;
    box-shadow: none;
}

.form h3
{
    padding-bottom: .7em;
}

.form-group
{
    margin-bottom: .5em;
}

.form-control
{
    display: block;

    width: 95%;
    height: 1em;
    padding: .3em .75em;
}

.form button[type='submit']
{
    padding: 8px 30px;

    cursor: pointer;
    transition: .3s;

    color: #fff;
    border: 0;
    border-radius: 3px;
    background: #1bb1dc;
}

.form button:hover
{
    background: #368195;
}

.footer-rights
{
    font-family: Roboto-Bold;
    font-size: 15px;
    font-weight: 600;

    display: flex;
    flex-direction: column;

    padding: 1em 0 1em 0;

    text-align: center;

    background: #a9b0c0;

    align-items: center;
    justify-content: center;
}

.footer-rights p
{
    font-size: 15px;

    margin: 0;
}

@media (max-width: 1024px){
	.spa-fitness-container {
    display: flex;
    flex-flow: column wrap;
	}
	.spa-fitness-description:nth-of-type(1) {
    order: 1;
	}
	.spa-fitness img:nth-of-type(1) {
    order: 2;
	}
    .spa-fitness-description:nth-of-type(2) {
    order: 3;
	}
	.spa-fitness img:nth-of-type(2) {
    order: 4;
	}
	
    
}

@media (max-width: 768px)

{
    .spa-fitness-container {
    display: flex;
    flex-flow: column wrap;
    }

    .menu
    {
        display: none;
    }
    .mobile-menu
    {
        display: none;
    }
    .trigger
    {
        display: inline-block;
        height: 30px;
        margin: 3px;
        cursor: pointer;
    }
    .trigger i
    {
        display: block;
        height: 5px;
        margin: .1em 0 0 0;
        border-radius: 5px;
        background: #1bb1dc;
    }
    .show
    {
        display: flex;
        flex-direction: column;
    }
    .header-wrap
    {
        justify-content: space-between;
    }
    .header-logo{
        margin-left: 1em;
    }
    .card-container{
        flex-flow: column wrap;
    }
    .card__item{
        width: 100%;
    }
}


@media (max-width: 720px)
{
    .box-wrap
    {
        width: 50%;
    }
    .footer-wrapper
    {
        flex-direction: column;

        justify-content: center;
    }
}


@media (max-width: 575px)
{
    .box-wrap
    {
        width: 100%;
    }
}

@media (max-width: 480px)
{
    .gallery-photo:hover
    {
        transform: none;
    }

    .gallery-photo
    {
        width: 295px;
    }
    iframe
    {
        width: 100%;
    }
    .header-booking{
    	flex-direction: column;
    }
    .header-booking-button{
    	margin: 1em 0;
    }
    .gallery-content .gallery-photo {
	margin-right: 0;
}
}
